/* Include Foundation */
@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    @include grid-column;
    text-align: center;
    //background-image: url("http://vignette1.wikia.nocookie.net/spongebob/images/1/15/870.png/revision/latest?cb=20130527201824");
    background-color: grey;
}

button {
    background-color: white;
    padding: 5px;
}

ul {
    list-style: none;
}

.infoView {
    @include grid-column(6);
    text-align: center;
    height: 170px;
    border: 1px solid black;
    display: block;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }