<section>
            <div>
                <input ng-model="cost" type="text" placeholder="how much per cup?">
                <button ng-click="setPrice(cost)">Set Price</button>
            </div>
            <div class="infoView">
                <h1>Lemons</h1>
                <p>20</p>
                <button>Buy Lemon</button>
            </div>
            <div class="infoView">
                <h1>Sugar</h1>
                <p>20</p>
                <button>Buy Lemon</button>
            </div>
            <div class="infoView">
                <h1>Ice</h1>
                <p>20</p>
                <button>Buy Lemon</button>
            </div>
            <div class="infoView">
                <h1>Cups</h1>
                <p>20</p>
                <button>Buy Lemon</button>
            </div>
        </section>