<section>
            <h1>manage stand</h1>
            <div class="infoView">
                <h1>Days</h1>
                <p>0</p>
            </div>
            <div class="infoView">
                <h1>open/closed</h1>
                <p>open</p>
            </div>
            <div class="infoView">
                <h1>Funds</h1>
                <p>$5M</p>
            </div>
            <div class="infoView">
                <h1>Cost of Lemonade:</h1>
                <p>$5.00</p>
            </div>
             <div class="infoView">
                <h1>Visitors/ Cups Sold</h1>
                <p>700/ 698</p>
            </div>
            <div class="infoView">
                <h1>Tomorrow's weather</h1>
                <p>Sunny 90F</p>
            </div>
        </section>