<section>
    <h1>Manage {{ stats.name }}</h1>
    <ul>

        <li class="infoView">
            <h2>Day:</h2>
            <h2>{{ stats.day }}</h2>
        </li>
        <li class="infoView">
            <h2>open/closed</h2>
            <h2>{{ stats.in_business }}</h2>
        </li>
        <li class="infoView">
            <h2>Yesterday's Stats</h2>
            <h2>Visitors/ Cups Sold</h2>
            <h2>{{ stats.business.yesterday_visitors }} / {{ stats.business.yesterday_cups_sold }}</h2>
        </li>
        <li class="infoView">
            <h2>Tommorows Forecast:</h2>
            <h2> {{ sun.condition }} at {{ sun.temperature | number:0 }}F</h2>
        </li>
        <li class="infoView">
            <h2>Funds:</h2>
            <h2>{{ stats.business.balance | currency }}</h2>
        </li>
        <li class="infoView">
            <h2>Cost of Lemonade: {{ stats.business.price | currency }}</h2>
            <input ng-model="cost" type="number" placeholder="how much per cup?">
            <button ng-click="setPrice(cost); update(); cost = '' ">Set Price</button>
        </li>
    </ul>
</section>
<!--</section> c&p from supplies.html-->
<section>
    <ul>
        <li class="infoView" ng-repeat="stat in ingreds">
            <h1>{{ stat.label }}: {{ stat.value }}</h1>
            <input ng-model="num" type="number" placeholder="how many {{ stat.label }}"/>
            <button ng-click="buyStuff(stat.label, num); update(); num = '' ">Buy</button>
        </li>
    </ul>
</section>